<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="extnet" type="Ext.Net.GlobalConfig" requirePermission="false" />
    <sectionGroup name="EntitySpaces" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Core">
      <section name="connectionInfo" type="EntitySpaces.Interfaces.esConfigSettings, EntitySpaces.Interfaces" allowLocation="true" allowDefinition="Everywhere" restartOnExternalChanges="true" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="ssoUrlSignInWith" value="http://localhost:88/RoleAdmin/SignInWith"/>
    <add key="ssoUrlSignIn" value="http://localhost:88/RoleAdmin/SignIn"/>
    <add key="ssoUrlSignOut" value="http://localhost:88/RoleAdmin/SignOut"/>
    <add key="ssoUrlSignUp" value="http://localhost:88/RoleAdmin/SignUp"/>
    <add key="ssoUrlForgotPassword" value="http://localhost:88/RoleAdmin/ForgotPassword"/>
    <add key="ssoUrlProfile" value="http://localhost:88/RoleAdmin/Profile"/>
    <add key="ssoAvatar" value="http://localhost:88/RoleAdmin/Avatar"/>
    <add key="ssoAPIUrl" value="http://localhost:88/RoleAdmin/Admin/API"/>
    <add key="ssoAPIMemberName" value="example@demo.com"/>
    <add key="ssoAPIMemberToken" value="HYXMvDsQWhGhbShE7yS1"/>
  </appSettings>
  <extnet theme="Neptune" />
  <EntitySpaces>
    <connectionInfo default="HELPDESK">
      <connections>
        <add name="LocalAxiooMySQL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.MySqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Database=ksurat;User Id=root;Password=;Convert Zero Datetime=True" />
        <add name="LocalMySQL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.MySqlClientProvider" providerClass="DataProvider" connectionString="Data Source=localhost;Port=3333;Database=ksurat;User Id=root;Password=muhammad;Convert Zero Datetime=True" />
        <add name="LOCAL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=RSCM_BKU;uid=sa;pwd=muhammad;" databaseVersion="2008" />
        <add name="LIVE" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=ksurat;uid=sa;pwd=ASD123qwe;" databaseVersion="2008" />
        <add name="KENCANA" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=KENCANA;uid=sa;pwd=ASD123qwe;" databaseVersion="2008" />
        <add name="LOCAL_HIS" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=RSCM_HIS;uid=sa;pwd=muhammad;" databaseVersion="2008" />
        <add name="HELPDESK" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=10.4.4.23;Initial Catalog=HELPDESK;uid=sa;pwd=ASD123qwe;" databaseVersion="2008" />
        <add name="HELPDESK_LOCAL" providerMetadataKey="esDefault" sqlAccessType="DynamicSQL" provider="EntitySpaces.SqlClientProvider" providerClass="DataProvider" connectionString="Data Source=.;Initial Catalog=HELPDESK;uid=sa;pwd=muhammad;" databaseVersion="2008" />
      </connections>
    </connectionInfo>
  </EntitySpaces>
  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <location path="extjs">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="extnet">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="icons">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="ux">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Task">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>      
    </system.web>
    <system.webServer>
      <directoryBrowse enabled="false"/>
    </system.webServer>
  </location>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="*/ext.axd" verb="*" type="Ext.Net.ResourceHandler" validate="false" />
    </httpHandlers>

    <httpModules>
      <add name="DirectRequestModule" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </httpModules>

    <pages>
      <controls>
        <add assembly="Ext.Net" namespace="Ext.Net" tagPrefix="ext" />
      </controls>
    </pages>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" protection="All" name="myApplicationCookie" path="/" requireSSL="false" slidingExpiration="true" enableCrossAppRedirects="true" defaultUrl="/" />
    </authentication>
    
    <machineKey
    validationKey="56C0B464984F8F1BE57A6D2A6A16D1D7A13FA6E8BEE90058A91CCAAD78B959A0AC4FDAA62099046CE1B81BB0AEAE9D399899361ECE9AB27C068A169E309EDCC0"
    decryptionKey="44BA9F99FD483C2250F5CD0E4958E06879B82AA6DB8670FCBC293E010CEBB0DE"
    validation="SHA1" decryption="AES"/>

    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    
  </system.web>

  <system.webServer>
      <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="DirectRequestModule" preCondition="managedHandler" type="Ext.Net.DirectRequestModule, Ext.Net" />
    </modules>
    <handlers>
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="1.0.0.0-4.5.10" newVersion="4.5.11" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Ext.Net.Utilities" publicKeyToken="2c34ac34702a3c23" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0" newVersion="2.2.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
